In [ ]:
# import libraries 

from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

In [ ]:
# Connect to Website and pull in data

URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').get_text()

rate = soup2.find(id='acrCustomerReviewText').get_text()


print(title)
print(rate)

In [ ]:
# Clean up the data a little bit

rate = rate.strip()
title = title.strip()

print(title)
print(rate)

In [ ]:
# Create a Timestamp for your output to track when data was collected

import datetime

today = datetime.date.today()

print(today)

In [ ]:
# Create CSV and write headers and data into the file

import csv 

header = ['Title', 'rate', 'Date']
data = [title, rate, today]

with open('AmazonWebScraperDataset.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [ ]:
import pandas as pd

dataset= pd.read_csv(r"C:\Users\sonjo\AmazonWebScraperDataset.csv")

In [ ]:
dataset

In [ ]:
#Now we are appending data to the csv

with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [79]:
#Combine all of the above code into one function


def check_price():
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id='productTitle').get_text()

    rate = soup2.find(id='acrCustomerReviewText').get_text()

    rate = rate.strip()
    title = title.strip()

    import datetime

    today = datetime.date.today()
    
    import csv 

    header = ['Title', 'rate', 'Date']
    data = [title, rate, today]

    with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)
 
    if(rate > 25):
        send_mail()

In [80]:
# Runs check_price after a set time and inputs data into your CSV

while(True):
    check_price()
    time.sleep(86400)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
import pandas as pd

dataset= pd.read_csv(r"C:\Users\sonjo\AmazonWebScraperDataset.csv")

In [76]:
dataset

                                                Title        rate        Date
0   Funny Got Data MIS Data Systems Business Analy...  16 ratings  2023-03-19
1   Funny Got Data MIS Data Systems Business Analy...  16 ratings  2023-03-19
2   Funny Got Data MIS Data Systems Business Analy...  16 ratings  2023-03-19
3   Funny Got Data MIS Data Systems Business Analy...  16 ratings  2023-03-19
4   Funny Got Data MIS Data Systems Business Analy...  16 ratings  2023-03-19
5   Funny Got Data MIS Data Systems Business Analy...  16 ratings  2023-03-19
6   Funny Got Data MIS Data Systems Business Analy...  16 ratings  2023-03-19
7   Funny Got Data MIS Data Systems Business Analy...  16 ratings  2023-03-19
8   Funny Got Data MIS Data Systems Business Analy...  16 ratings  2023-03-19
9   Funny Got Data MIS Data Systems Business Analy...  16 ratings  2023-03-19
10  Funny Got Data MIS Data Systems Business Analy...  16 ratings  2023-03-19

In [81]:
# If uou want to try sending yourself an email (just for fun) when a price hits below a certain level you can try it
# out with this script

def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('sonjoydasuk@gmail.com','xxxxxxxxxxxxxx')
    
    subject = "The Shirt you want is above rating 25! Now is your chance to buy!"
    body = "Sonjoy, This is the moment we have been waiting for. Now is your chance to pick up the shirt of your dreams. Don't mess it up! Link here: https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3"
   
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'sonjoydasuk@gmail.com',
        msg
     
    )