In [5]:
import pandas as pd
from sklearn import linear_model

In [6]:
df = pd.read_csv(r"G:\CYBER SECURITY ALL MODULES\3rd SEMESTER\Data..csv")

In [7]:
df

   Age  height  weight  Salary
0   25  162.56      70   18000
1   30  172.72      95   38000
2   35  167.64      78   38000
3   40     NaN     110   60000
4   45  157.48      85   70000

In [11]:
mean_height = df.height.mean()

In [12]:
df.height

0    162.56
1    172.72
2    167.64
3       NaN
4    157.48
Name: height, dtype: float64

In [15]:
df.height=df.height.fillna(mean_height)

In [16]:
df

   Age  height  weight  Salary
0   25  162.56      70   18000
1   30  172.72      95   38000
2   35  167.64      78   38000
3   40  165.10     110   60000
4   45  157.48      85   70000

In [17]:
reg = linear_model.LinearRegression()

In [19]:
reg.fit(df[['Age','height','weight']],df['Salary'])

LinearRegression()

In [20]:
reg.coef_

array([2150.26052416, -248.45851574,  312.65291961])

In [22]:
reg.intercept_

-16827.013154824977

In [23]:
reg.predict([[27,167.56,60]])

D:\ANacodda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([18357.48727691])

In [24]:
2150.26052416*27+-248.45851574*167.56+312.65291961*60+-16827.013154824977

18357.487276700624

In [25]:
reg.predict([[60,165.10,80]])

D:\ANacodda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([96180.35091498])

In [26]:
2150.26052416*60+-248.45851574*165.10+312.65291961*80+-16827.013154824977

96180.35091490102